In [1]:
#import all the required libraries
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [50]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART"
driver.get(url)

time.sleep(2)

In [51]:
#creating empty list
urls=[]
stars=[]
complete_review=[]
time.sleep(5)

#Taking 50 pages into consideration using for loop
for i in range(50):
    url=driver.find_element_by_xpath("//a[@class='_1LKTO3']").get_attribute('href')
    driver.get(url)
    #for scrapping the number of stars
    for j in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        stars.append(j.text)
  
    #for scrapping the complete review
    for k in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
        complete_review.append(k.text)
        
        
#Combining all the lists into a single dataframe
df1=pd.DataFrame({'Number of Stars': stars,'Full Review': complete_review})
df1

    Number of Stars                                        Full Review
0                 5  Great iPhone very snappy experience as apple k...
1                 5  Value for money❤️❤️\nIts awesome mobile phone ...
2                 5  What a camera .....just awesome ..you can feel...
3                 5  Best budget Iphone till date ❤️ go for it guys...
4                 5  Iphone is just awesome.. battery backup is ver...
..              ...                                                ...
495               5  i11 is worthy to buy, too much happy with the ...
496               5  Amazing Powerful and Durable Gadget.\n\nI’m am...
497               4  So far it’s been an AMAZING experience coming ...
498               5  iphone 11 is a very good phone to buy only if ...
499               5  It’s a must buy who is looking for an upgrade ...

[500 rows x 2 columns]

In [52]:
df1.head(50)

   Number of Stars                                        Full Review
0                5  Great iPhone very snappy experience as apple k...
1                5  Value for money❤️❤️\nIts awesome mobile phone ...
2                5  What a camera .....just awesome ..you can feel...
3                5  Best budget Iphone till date ❤️ go for it guys...
4                5  Iphone is just awesome.. battery backup is ver...
5                5  It's my first time to use iOS phone and I am l...
6                5  Totally in love with this ❤ the camera quality...
7                5  Excellent camera, good performance, no lag. Th...
8                5  It’s been almost a month since I have been usi...
9                5  Really worth of money. i just love it. It is t...
10               5  Really satisfied with the Product I received.....
11               5  The Best Phone for the Money\n\nThe iPhone 11 ...
12               5  This is my first iOS phone. I am very happy wi...
13               5  Amazing phone with great cameras and better ba...
14               5  Previously I was using one plus 3t it was a gr...
15               5  i11 is worthy to buy, too much happy with the ...
16               5  Amazing Powerful and Durable Gadget.\n\nI’m am...
17               4  So far it’s been an AMAZING experience coming ...
18               5  iphone 11 is a very good phone to buy only if ...
19               5  It’s a must buy who is looking for an upgrade ...
20               5  Great iPhone very snappy experience as apple k...
21               5  Value for money❤️❤️\nIts awesome mobile phone ...
22               5  What a camera .....just awesome ..you can feel...
23               5  Best budget Iphone till date ❤️ go for it guys...
24               5  Iphone is just awesome.. battery backup is ver...
25               5  It's my first time to use iOS phone and I am l...
26               5  Totally in love with this ❤ the camera quality...
27               5  Excellent camera, good performance, no lag. Th...
28               5  It’s been almost a month since I have been usi...
29               5  Really worth of money. i just love it. It is t...
30               5  Really satisfied with the Product I received.....
31               5  The Best Phone for the Money\n\nThe iPhone 11 ...
32               5  This is my first iOS phone. I am very happy wi...
33               5  Amazing phone with great cameras and better ba...
34               5  Previously I was using one plus 3t it was a gr...
35               5  i11 is worthy to buy, too much happy with the ...
36               5  Amazing Powerful and Durable Gadget.\n\nI’m am...
37               4  So far it’s been an AMAZING experience coming ...
38               5  iphone 11 is a very good phone to buy only if ...
39               5  It’s a must buy who is looking for an upgrade ...
40               5  Great iPhone very snappy experience as apple k...
41               5  Value for money❤️❤️\nIts awesome mobile phone ...
42               5  What a camera .....just awesome ..you can feel...
43               5  Best budget Iphone till date ❤️ go for it guys...
44               5  Iphone is just awesome.. battery backup is ver...
45               5  It's my first time to use iOS phone and I am l...
46               5  Totally in love with this ❤ the camera quality...
47               5  Excellent camera, good performance, no lag. Th...
48               5  It’s been almost a month since I have been usi...
49               5  Really worth of money. i just love it. It is t...

In [54]:
df1['Number of Stars'].value_counts()

5    475
4     25
Name: Number of Stars, dtype: int64

In [43]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.flipkart.com/asus-vivobook-ultra-14-core-i3-11th-gen-8-gb-512-gb-ssd-windows-10-home-x413ea-eb322ts-thin-light-laptop/product-reviews/itmb90b9e1b627d4?pid=COMFZ3VNMGYQVUVR&lid=LSTCOMFZ3VNMGYQVUVRDIUMMA&marketplace=FLIPKART"
driver.get(url)

time.sleep(2)

In [44]:
#creating empty list
urls=[]
stars=[]
complete_review=[]
time.sleep(5)

#Taking 18 pages into consideration using for loop
for i in range(18):
    url=driver.find_element_by_xpath("//a[@class='_1LKTO3']").get_attribute('href')
    driver.get(url)
    #for scrapping the number of stars
    for j in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        stars.append(j.text)
  
    #for scrapping the complete review
    for k in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
        complete_review.append(k.text)
        
        
#Combining all the lists into a single dataframe
df2=pd.DataFrame({'Number of Stars': stars,'Full Review': complete_review})
df2

    Number of Stars                                        Full Review
0                 5  Very Good and better in that price Range .\nI ...
1                 4  Have been using this laptop since a few hours ...
2                 4  Ultra lightweight and portable. Backlight keyb...
3                 5  Good laptop..\nBetter deal if you get it below...
4                 5  Received it on 6th May, 2021..\nI think this i...
..              ...                                                ...
175               5  It's a best laptop in this price range. I have...
176               5  It's best value for money laptop. Don't think ...
177               4  This is good product but speakar quality is no...
178               5  *Updated after 7 days of use\nReceived this ye...
179               5  Very good laptop aaj he mne buy kia h display ...

[180 rows x 2 columns]

In [45]:
df2['Number of Stars'].value_counts()

5    126
4     45
3      9
Name: Number of Stars, dtype: int64

In [35]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.flipkart.com/apple-watch-series-3-gps-42-mm-space-grey-aluminium-case-black-sport-band/product-reviews/itm91c560e722cdd?pid=SMWF94AYMNYHTYDJ&lid=LSTSMWF94AYMNYHTYDJFOPINH&marketplace=FLIPKART"
driver.get(url)

time.sleep(2)

In [36]:
#creating empty list
urls=[]
stars=[]
complete_review=[]
time.sleep(5)

#Taking all pages into consideration using for loop
for i in range(10):
    url=driver.find_element_by_xpath("//a[@class='ge-49M']").get_attribute('href')
    driver.get(url)
    #for scrapping the number of stars
    for j in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        stars.append(j.text)
  
    #for scrapping the complete review
    for k in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
        complete_review.append(k.text)
        
        
#Combining all the lists into a single dataframe
df3=pd.DataFrame({'Number of Stars': stars,'Full Review': complete_review})
df3

   Number of Stars                                        Full Review
0                5  Best Smartwatch at the moment. Highly recommen...
1                5  Just just amazing and fall in love at firs gla...
2                5  Apple watch does not need introduction..\nI am...
3                4  Received product on time. Flipkart does their ...
4                5  Amazing watch ! Was lill skeptic before buying...
..             ...                                                ...
95               5  One moe awesome product from Apple. Really a g...
96               5  I am much impressed with the facilities i am g...
97               5  Best watch in its segment and he coolest part ...
98               5  Apple iWatch series3 is one of the best purcha...
99               5  Product is awesome with cool features but only...

[100 rows x 2 columns]

In [37]:
df3['Number of Stars'].value_counts()

5    90
4    10
Name: Number of Stars, dtype: int64

In [56]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.flipkart.com/redmi-9i-nature-green-64-gb/product-reviews/itm2e2fcd7b3eb7b?pid=MOBFV8RYNA4FVEH7&lid=LSTMOBFV8RYNA4FVEH7GEI6Y9&marketplace=FLIPKART"
driver.get(url)

time.sleep(2)

In [57]:
# Creating empty list
urls=[]
short_review=[]
complete_review=[]
stars=[]

for i in range(70):
    url=driver.find_element_by_xpath("//a[@class='_1LKTO3']").get_attribute('href')
    driver.get(url)
    #for scrapping the number of stars
    for j in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        stars.append(j.text)

    #for scrapping the complete review
    for k in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
        complete_review.append(k.text)
        
        
#Combining all the lists into a single dataframe
df4=pd.DataFrame({'Number of Stars': stars,'Full Review': complete_review})
df4

    Number of Stars                                        Full Review
0                 4  Very good product everything is fine camera is...
1                 4  Hi guys I here give u a complete review of thi...
2                 3  Based on the usage for about 3 weeks, I am wri...
3                 5  Love this phone😍😍😍 I bought this for my maa as...
4                 3  Good phone. Budget friendly.\nBest in this bud...
..              ...                                                ...
695               5  To be completely honest this is not the best p...
696               5  Mi 9i is good no loss it is very good mobile a...
697               5  Nice mobile, good battery backup, camera satis...
698               4  I've bought this for my parents, overall phone...
699               5  Very good mobile. I love thish phone. Really g...

[700 rows x 2 columns]

In [93]:
df_flip=pd.concat([df1,df2,df3,df4])

In [94]:
df_flip.shape

(1480, 2)

In [95]:
df_flip.head()

  Number of Stars                                        Full Review
0               5  Great iPhone very snappy experience as apple k...
1               5  Value for money❤️❤️\nIts awesome mobile phone ...
2               5  What a camera .....just awesome ..you can feel...
3               5  Best budget Iphone till date ❤️ go for it guys...
4               5  Iphone is just awesome.. battery backup is ver...

In [96]:
df_flip.to_csv("flip_review.csv")

In [97]:
df_flip.to_excel("flip_review.xlsx")

In [63]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.flipkart.com/apple-watch-series-3-gps-42-mm-space-grey-aluminium-case-black-sport-band/product-reviews/itm91c560e722cdd?pid=SMWF94AYMNYHTYDJ&lid=LSTSMWF94AYMNYHTYDJFOPINH&marketplace=FLIPKART"
driver.get(url)

time.sleep(2)

urls=[]
complete_review=[]
stars=[]
time.sleep(2)

for i in range(50):
    url=driver.find_element_by_xpath("//a[@class='_1LKTO3']").get_attribute('href')
    driver.get(url)
    
    #for scrapping the number of stars
    
    try:
        for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
            stars.append(j.text)
    except NoSuchElementException:
           stars.append('-')
        
    #for scrapping the complete review
    
    try:
        for k in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
            complete_review.append(k.text)
    except NoSuchElementException:
           complete_review.append('-')    
        
#Combining all the lists into a single dataframe
df6=pd.DataFrame({'Number of Stars': stars,'Full Review': complete_review})
df6

    Number of Stars                                        Full Review
0                 5  Best Smartwatch at the moment. Highly recommen...
1                 5  Just just amazing and fall in love at firs gla...
2                 5  Apple watch does not need introduction..\nI am...
3                 4  Received product on time. Flipkart does their ...
4                 5  Amazing watch ! Was lill skeptic before buying...
..              ...                                                ...
495               5  One moe awesome product from Apple. Really a g...
496               5  I am much impressed with the facilities i am g...
497               5  Best watch in its segment and he coolest part ...
498               5  Apple iWatch series3 is one of the best purcha...
499               5  Product is awesome with cool features but only...

[500 rows x 2 columns]

In [65]:
df6['Number of Stars'].value_counts()

5    450
4     50
Name: Number of Stars, dtype: int64

In [66]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.flipkart.com/sjcam-sj-4000-air-4k-full-hd-wifi-30m-waterproof-sports-action-camera-dv-camcorder-16mp/product-reviews/itm3f81a086c29fd?pid=SAYF956CJMBUUJFK&lid=LSTSAYF956CJMBUUJFKNMENUA&marketplace=FLIPKART"
driver.get(url)

time.sleep(2)

urls=[]
complete_review=[]
stars=[]
time.sleep(2)

for i in range(10):
    url=driver.find_element_by_xpath("//a[@class='_1LKTO3']").get_attribute('href')
    driver.get(url)
    #for scrapping the number of stars
    for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        stars.append(j.text)

    #for scrapping the complete review
    for k in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
        complete_review.append(k.text)

In [67]:
len(stars)

100

In [68]:
#Combining all the lists into a single dataframe
df7=pd.DataFrame({'Number of Stars': stars,'Full Review': complete_review})
df7

   Number of Stars                                        Full Review
0                4                      video quality 1080 60fos good
1                5  Subep quality, well packed every thing good aw...
2                5  Awesome Camera Video quality and Photo quality...
3                4                    Ultimate action camera....\n🔥🔥❤
4                5  supurb.....i like it very much.. guyz you got ...
..             ...                                                ...
95               4  Good for price don’t expect more. Don’t even t...
96               5  Best deal at best price. Video quality is more...
97               5  Everything is just awesome except the delivery...
98               4  Product is nice, but after uploading on YouTub...
99               5  Product is awesome. You cannot compare to gopr...

[100 rows x 2 columns]

In [69]:
df7['Number of Stars'].value_counts()

5    60
4    35
1     5
Name: Number of Stars, dtype: int64

In [73]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.flipkart.com/samsung-galaxy-s5-electric-blue-16-gb/product-reviews/itme5z7wqct2dqbw?pid=MOBDWA2DHSPRJPD9&lid=LSTMOBDWA2DHSPRJPD9PR2DXR&marketplace=FLIPKART"
driver.get(url)

time.sleep(2)

urls=[]
complete_review=[]
stars=[]
time.sleep(2)

for i in range(50):
    url=driver.find_element_by_xpath("//a[@class='_1LKTO3']").get_attribute('href')
    driver.get(url)
    #for scrapping the number of stars
    for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        stars.append(j.text)

    #for scrapping the complete review
    for k in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
        complete_review.append(k.text)

In [76]:
len(stars),len(complete_review)

(490, 490)

In [77]:
#Combining all the lists into a single dataframe
df8=pd.DataFrame({'Number of Stars': stars,'Full Review': complete_review})
df8

    Number of Stars                                        Full Review
0                 1  I am giving a low rating to this particular mo...
1                 4  i used this device almost two weaks the phone ...
2                 4  Let me come straight to the point. The phone h...
3                 5  Been using it for few days everything is worki...
4                 2  I do not find any good reason to upgrade from ...
..              ...                                                ...
485               1  Hey, I am not going to list out the specs of t...
486               5  Hey, ppl who are commenting negative about the...
487               4  in 36k its the best phone... itz camara is one...
488               4  Awesome phone, still the flagship S(super smar...
489               4  This is value for money phone!I bought it for ...

[490 rows x 2 columns]

In [78]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.flipkart.com/kall-k200-red-16-gb/product-reviews/itm05d61c0b159f0?pid=MOBFJYAMGFGHHG8Z&lid=LSTMOBFJYAMGFGHHG8ZMEWI67&marketplace=FLIPKART"
driver.get(url)
time.sleep(2)

# Creating empty list
urls=[]
complete_review=[]
stars=[]

time.sleep(4)

for i in range(60):
    url=driver.find_element_by_xpath("//a[@class='_1LKTO3']").get_attribute('href')
    driver.get(url)
    #for scrapping the number of stars
    for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        stars.append(j.text)
    
    #for scrapping the complete review
    for k in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
        complete_review.append(k.text)
        
        #Combining all the lists into a single dataframe
df5=pd.DataFrame({'Number of Stars': stars,'Full Review': complete_review})
df5

    Number of Stars                                        Full Review
0                 1                                               good
1                 5                  good product in this price range.
2                 5            very nice mobile very very budget phone
3                 5                                               good
4                 4                          low prices but good phone
..              ...                                                ...
595               4  I am writing this review after 2month use. Thi...
596               5  The phone memory was not good only 2 ram and 1...
597               1  Product is good but battery is bad. overall ph...
598               3  The Performance is slower. The camera, display...
599               5  Best Camera Set up with good Quality performan...

[600 rows x 2 columns]

In [80]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.flipkart.com/acer-19-5-inch-hd-led-backlit-tn-panel-monitor-v206hql/product-reviews/itmeygcwhszg2vfh?pid=MONEYGCHK5GHSN6B&lid=LSTMONEYGCHK5GHSN6BEC82ID&marketplace=FLIPKART"
driver.get(url)
time.sleep(2)

# Creating empty list
urls=[]
complete_review=[]
stars=[]

time.sleep(4)

for i in range(100):
    url=driver.find_element_by_xpath("//a[@class='_1LKTO3']").get_attribute('href')
    driver.get(url)
    #for scrapping the number of stars
    for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        stars.append(j.text)
    
    #for scrapping the complete review
    for k in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
        complete_review.append(k.text)
        
        #Combining all the lists into a single dataframe
df9=pd.DataFrame({'Number of Stars': stars,'Full Review': complete_review})
df9

    Number of Stars                                        Full Review
0                 4  perfect one ...but sound quality is not so goo...
1                 5  Best monitor under Rs. 5,000. Has VGA, HDMI, A...
2                 5  19.5 inches is correct\nnot led its lcd\novera...
3                 5  I bought this for Rs.5220 at an offer (includi...
4                 5  Good product.. I got in a good package and wor...
..              ...                                                ...
995               5  I am writing this review after making fair and...
996               5  Amazing work good quality display mind-blowing...
997               4  I am not satisfied with built in speaker and d...
998               4  Ok, good product but not same as said. It is a...
999               5  Although the monitor is great, and very vibran...

[1000 rows x 2 columns]

In [84]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.flipkart.com/poco-m3-power-black-64-gb/product-reviews/itmb49cc10841be2?pid=MOBFZTCUTAYPJHHR&lid=LSTMOBFZTCUTAYPJHHR2ZVC1N&marketplace=FLIPKART"
driver.get(url)
time.sleep(2)

# Creating empty list
urls=[]
complete_review=[]
stars=[]

time.sleep(4)

for i in range(100):
    url=driver.find_element_by_xpath("//a[@class='_1LKTO3']").get_attribute('href')
    driver.get(url)
    #for scrapping the number of stars
    for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
        stars.append(j.text)
    
    #for scrapping the complete review
    for k in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
        complete_review.append(k.text)
        
        #Combining all the lists into a single dataframe
df10=pd.DataFrame({'Number of Stars': stars,'Full Review': complete_review})
df10

    Number of Stars                                        Full Review
0                 5  U will never get this specs for this price...d...
1                 4  This phone is pretty decent\nBattery backup an...
2                 5  Everything is better of the phone except of fr...
3                 4  I received my Poco M3 today (delivered by Ekar...
4                 5  This product was absolutely good and it is ver...
..              ...                                                ...
995               5  Mobile is good... I bought the yellow one... F...
996               4  1. Phone is perfect but Camera it's not good.\...
997               5  Thank You Poco for manufacturing this Phone......
998               5  1) Delivery on time, Properly packed with bill...
999               5  I am writing this review after using this mobi...

[1000 rows x 2 columns]

In [98]:
df_flip1=pd.concat([df5,df6,df7,df8,df9,df10,df_flip])

In [99]:
df_flip1.shape

(5170, 2)

In [100]:
df_flip1.to_csv("flip1_review.csv")

In [101]:
df_flip1.to_excel("flip1_review.xlsx")

In [104]:
df_flip1['Number of Stars'].value_counts()

5    3420
4    1264
3     274
1     187
2      25
Name: Number of Stars, dtype: int64

In [99]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.flipkart.com/oppo-a53-moonlight-black-64-gb/product-reviews/itmf59942b768c29?pid=MOBG2J9ECFZVPQAP&lid=LSTMOBG2J9ECFZVPQAPICTOYV&marketplace=FLIPKART"
driver.get(url)

time.sleep(2)

urls=[]
complete_review=[]
stars=[]
time.sleep(2)

for i in range(70):
    url=driver.find_element_by_xpath("//a[@class='_1LKTO3']").get_attribute('href')
    driver.get(url)
    
    #for scrapping the number of stars
    
    try:
        for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
            stars.append(j.text)
    except NoSuchElementException:
        stars.append('-')
        
    #for scrapping the complete review
    
    try:
        for k in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
            complete_review.append(k.text)
    except NoSuchElementException:
        complete_review.append('-')

In [112]:
df_1=pd.DataFrame({'Number of Stars': stars,'Full Review': complete_review})
df_1

     Number of Stars                                        Full Review
0                  5  Comparing with the Blackberry z10 or HTC butte...
1                  1  Samsung has previously mocked Apple for the iP...
2                  5  The Galaxy S4 is an excellent phone. It was Sa...
3                  5  the best smartphone available in the market\ni...
4                  5  Thanks to Flipkart.. Got the phone in 2 days f...
...              ...                                                ...
1295               4  This is a genuine review after 6 months of usa...
1296               1  in simple words samsung is cheating with india...
1297               5  Disclaimer :- I own S4.\nGuys,\nDon't look at ...
1298               3  I had gone to purchase S3 but when I saw S4, I...
1299               3  I run an app development company and have seve...

[1300 rows x 2 columns]

In [101]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.flipkart.com/kall-k900-dark-blue-64-gb/product-reviews/itmc5f10316af1f1?pid=MOBFMYZZJJ4FPE3U&lid=LSTMOBFMYZZJJ4FPE3UECXEAQ&marketplace=FLIPKART"
driver.get(url)

time.sleep(2)

urls=[]
complete_review=[]
stars=[]
time.sleep(2)

for i in range(70):
    url=driver.find_element_by_xpath("//a[@class='_1LKTO3']").get_attribute('href')
    driver.get(url)
    
    #for scrapping the number of stars
    
    try:
        for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
            stars.append(j.text)
    except NoSuchElementException:
        stars.append('-')
        
    #for scrapping the complete review
    
    try:
        for k in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
            complete_review.append(k.text)
    except NoSuchElementException:
        complete_review.append('-')    
        
#Combining all the lists into a single dataframe
df_2=pd.DataFrame({'Number of Stars': stars,'Full Review': complete_review})
df_2

    Number of Stars                                        Full Review
0                 5                                               Like
1                 3                                        Nyc mobile😍
2                 1                        Very very bad products😡👊👊😡😡
3                 1                                    Worst don't buy
4                 5                          This is very good product
..              ...                                                ...
695               5             This mobile is good looking and nice..
696               5                                    very best phone
697               5                                               Good
698               1  The product is of very bad quality it takes 4 ...
699               5                                       good looking

[700 rows x 2 columns]

In [102]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.flipkart.com/kall-k1000-green-64-gb/product-reviews/itm56e7fe626a312?pid=MOBFNFGYPF5PRDQK&lid=LSTMOBFNFGYPF5PRDQKIMK7G2&marketplace=FLIPKART"
driver.get(url)

time.sleep(2)

urls=[]
complete_review=[]
stars=[]
time.sleep(2)

for i in range(40):
    url=driver.find_element_by_xpath("//a[@class='_1LKTO3']").get_attribute('href')
    driver.get(url)
    
    #for scrapping the number of stars
    
    try:
        for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
            stars.append(j.text)
    except NoSuchElementException:
        stars.append('-')
        
    #for scrapping the complete review
    
    try:
        for k in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
            complete_review.append(k.text)
    except NoSuchElementException:
        complete_review.append('-')    
        
#Combining all the lists into a single dataframe
df_3=pd.DataFrame({'Number of Stars': stars,'Full Review': complete_review})
df_3

    Number of Stars                                        Full Review
0                 2                        Battery and network problam
1                 1  Really Believe me it is a worst product...\nCe...
2                 1  Wrost product i never buy i kall product in li...
3                 1  Very bad mobile\nDisplay-1/10\nBattery backup-...
4                 1                                        bad product
..              ...                                                ...
395               1  It is rooted device and not supporting some im...
396               4                                               Good
397               1                   Iam not setisfied in this mobile
398               1                                          never buy
399               5  Value for money..\nFor people who can not affo...

[400 rows x 2 columns]

In [103]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.flipkart.com/samsung-tizen-z3-silver-8-gb/product-reviews/itmeckgyydawdefp?pid=MOBECKHZZPEHJDHZ&lid=LSTMOBECKHZZPEHJDHZEXYBBJ&marketplace=FLIPKART"
driver.get(url)

time.sleep(2)

urls=[]
complete_review=[]
stars=[]
time.sleep(2)

for i in range(60):
    url=driver.find_element_by_xpath("//a[@class='_1LKTO3']").get_attribute('href')
    driver.get(url)
    
    #for scrapping the number of stars
    
    try:
        for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
            stars.append(j.text)
    except NoSuchElementException:
        stars.append('-')
        
    #for scrapping the complete review
    
    try:
        for k in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
            complete_review.append(k.text)
    except NoSuchElementException:
        complete_review.append('-')    
        
#Combining all the lists into a single dataframe
df_4=pd.DataFrame({'Number of Stars': stars,'Full Review': complete_review})
df_4

    Number of Stars                                        Full Review
0                 4  Flipkart assured delivery is too good because ...
1                 5  I like this smartphone it very good i buy this...
2                 1  Why dont u withdraw this OS?. No updations of ...
3                 5  Good phone the camera is good and the body als...
4                 5  When I m buying this product I cannot know abo...
..              ...                                                ...
595               4  I am using this phone for almost 4 months now....
596               1  Why Samsung released Tizen – z3 model and why ...
597               4  First fact is this phone in not Android, so be...
598               5  very good phone ..... although the os is tizen...
599               5  Have got from somewhere else, have used for 2 ...

[600 rows x 2 columns]

In [110]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.flipkart.com/samsung-galaxy-s4-deep-black-16-gb/product-reviews/itme6s5apwetpkzg?pid=MOBDVP8DZJXQYJSD&lid=LSTMOBDVP8DZJXQYJSDOJMM1X&marketplace=FLIPKART"
driver.get(url)

time.sleep(2)

urls=[]
complete_review=[]
stars=[]
time.sleep(2)

for i in range(130):
    url=driver.find_element_by_xpath("//a[@class='_1LKTO3']").get_attribute('href')
    driver.get(url)
    
    #for scrapping the number of stars
    
    try:
        for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
            stars.append(j.text)
    except NoSuchElementException:
        stars.append('-')
        
    #for scrapping the complete review
    
    try:
        for k in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
            complete_review.append(k.text)
    except NoSuchElementException:
        complete_review.append('-')    
        
#Combining all the lists into a single dataframe
df_5=pd.DataFrame({'Number of Stars': stars,'Full Review': complete_review})
df_5

     Number of Stars                                        Full Review
0                  5  Comparing with the Blackberry z10 or HTC butte...
1                  1  Samsung has previously mocked Apple for the iP...
2                  5  The Galaxy S4 is an excellent phone. It was Sa...
3                  5  the best smartphone available in the market\ni...
4                  5  Thanks to Flipkart.. Got the phone in 2 days f...
...              ...                                                ...
1295               4  This is a genuine review after 6 months of usa...
1296               1  in simple words samsung is cheating with india...
1297               5  Disclaimer :- I own S4.\nGuys,\nDon't look at ...
1298               3  I had gone to purchase S3 but when I saw S4, I...
1299               3  I run an app development company and have seve...

[1300 rows x 2 columns]

In [140]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.flipkart.com/oppo-f9-stellar-purple-64-gb/product-reviews/itmf8whxzsyhhetm?pid=MOBF8WHXTX8VXSHH&lid=LSTMOBF8WHXTX8VXSHHTI2CYV&marketplace=FLIPKART"
driver.get(url)

time.sleep(2)

urls=[]
complete_review=[]
stars=[]
time.sleep(2)

for i in range(150):
    url=driver.find_element_by_xpath("//a[@class='_1LKTO3']").get_attribute('href')
    driver.get(url)
    
    #for scrapping the number of stars
    
    try:
        for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
            stars.append(j.text)
    except NoSuchElementException:
        stars.append('-')
        
    #for scrapping the complete review
    
    try:
        for k in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
            complete_review.append(k.text)
    except NoSuchElementException:
        complete_review.append('-')    
        
#Combining all the lists into a single dataframe
df_6=pd.DataFrame({'Number of Stars': stars,'Full Review': complete_review})
df_6

     Number of Stars                                        Full Review
0                  5  Nice phone in budget. The camera is just aweso...
1                  4  Hi guys, I bought this phn and giving u my exp...
2                  4  After I used 18days I am giving my review . fi...
3                  4  I just love this phone. worth buying picture.q...
4                  5  camera quality and everything is best and than...
...              ...                                                ...
1495               4                   fast delivery by Flipkart thanks
1496               5                                   Nice Look Purple
1497               4  nice phone camera Awesome battery best video i...
1498               5  I have recently purchase oppo f9 on Diwali. on...
1499               5  1st time I use oppo...The most amazing part of...

[1500 rows x 2 columns]

In [141]:
df_flip2= pd.concat([df_1,df_2,df_3,df_4,df_5,df_6])

In [142]:
df_flip2.shape

(5800, 2)

In [143]:
df_flip2.head()

  Number of Stars                                        Full Review
0               5  Comparing with the Blackberry z10 or HTC butte...
1               1  Samsung has previously mocked Apple for the iP...
2               5  The Galaxy S4 is an excellent phone. It was Sa...
3               5  the best smartphone available in the market\ni...
4               5  Thanks to Flipkart.. Got the phone in 2 days f...

In [144]:
df_flip2.to_csv("flip2_data.csv")

In [145]:
df_flip2.to_excel("flip2_data.xlsx")

In [146]:
df_flip2['Number of Stars'].value_counts()

5    3230
4    1110
1     920
3     490
2      50
Name: Number of Stars, dtype: int64

In [7]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.flipkart.com/kall-k3310-combo-two-mobile/product-reviews/itmexgbzqhxbkbxd?pid=MOBEXGBZDQNXXFDZ&lid=LSTMOBEXGBZDQNXXFDZBBCICG&marketplace=FLIPKART"
driver.get(url)

time.sleep(2)

urls=[]
complete_review=[]
stars=[]
time.sleep(2)

for i in range(80):
    url=driver.find_element_by_xpath("//a[@class='_1LKTO3']").get_attribute('href')
    driver.get(url)
    
    #for scrapping the number of stars
    
    try:
        for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
            stars.append(j.text)
    except NoSuchElementException:
        stars.append('-')
        
    #for scrapping the complete review
    
    try:
        for k in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
            complete_review.append(k.text)
    except NoSuchElementException:
        complete_review.append('-')    
        
#Combining all the lists into a single dataframe
df_7=pd.DataFrame({'Number of Stars': stars,'Full Review': complete_review})
df_7

    Number of Stars                                        Full Review
0                 1                           Battery problam no bakap
1                 5  very very best product and combo pack .super s...
2                 5  superrrrrrr mobiles awesome i kall you now its...
3                 1  key quality not good type 9 or input tuch # so...
4                 1       Not nice in battery switch off any time to s
..              ...                                                ...
795               5                                    Good product 👍👍
796               5                                best product 😊😊😊😊😊😊
797               5                                               good
798               1  It dosent have a battery life.. Full charged b...
799               1                     mobile buttery is very poor ..

[800 rows x 2 columns]

In [9]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.flipkart.com/micromax-x512/product-reviews/itmfhwvhrwhxq5tu?pid=MOBFHWSYNUXWAGVT&lid=LSTMOBFHWSYNUXWAGVTFSRR0L&marketplace=FLIPKART"
driver.get(url)

time.sleep(2)

urls=[]
complete_review=[]
stars=[]
time.sleep(2)

for i in range(60):
    url=driver.find_element_by_xpath("//a[@class='_1LKTO3']").get_attribute('href')
    driver.get(url)
    
    #for scrapping the number of stars
    
    try:
        for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
            stars.append(j.text)
    except NoSuchElementException:
        stars.append('-')
        
    #for scrapping the complete review
    
    try:
        for k in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
            complete_review.append(k.text)
    except NoSuchElementException:
        complete_review.append('-')    
        
#Combining all the lists into a single dataframe
df_8=pd.DataFrame({'Number of Stars': stars,'Full Review': complete_review})
df_8

    Number of Stars                                        Full Review
0                 5                                       good product
1                 5                               Good one for calling
2                 5                                               good
3                 4  perfect mobile for elders....and good sound & ...
4                 5                                       nice product
..              ...                                                ...
595               5                                               Nice
596               5                                   Value for money.
597               5         superb phone..low price and good quality..
598               5                                         nice phone
599               5                                       good product

[600 rows x 2 columns]

In [17]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.flipkart.com/panasonic-eluga-i7-black-16-gb/product-reviews/itm1a0cf41fbf906?pid=MOBFUDMHE6UCU7H2&lid=LSTMOBFUDMHE6UCU7H2QRVNXZ&marketplace=FLIPKART"
driver.get(url)

time.sleep(2)

urls=[]
complete_review=[]
stars=[]
time.sleep(2)

for i in range(100):
    url=driver.find_element_by_xpath("//a[@class='_1LKTO3']").get_attribute('href')
    driver.get(url)
    
    #for scrapping the number of stars
    
    try:
        for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
            stars.append(j.text)
    except NoSuchElementException:
        stars.append('-')
        
    #for scrapping the complete review
    
    try:
        for k in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
            complete_review.append(k.text)
    except NoSuchElementException:
        complete_review.append('-')    
        
#Combining all the lists into a single dataframe
df_9=pd.DataFrame({'Number of Stars': stars,'Full Review': complete_review})
df_9

    Number of Stars                                        Full Review
0                 5                         Good phone in budget price
1                 3  It's just ok somewhat using in app automatical...
2                 3                             Worth it in this range
3                 5       Superb my child is so happy thanks filipkart
4                 4  Very nice 😄 smart phone\nThanks panasonic\nTha...
..              ...                                                ...
995               1  Purchased this product and noticed that it's m...
996               4                              Good but slow in per6
997               4  Good quality products but prosasing is slow . ...
998               4                                            Awesome
999               5                                     Good product..

[1000 rows x 2 columns]

In [15]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.flipkart.com/i-kall-k72/product-reviews/itm6c61f47b27431?pid=MOBFJX5B6CZSMAPZ&lid=LSTMOBFJX5B6CZSMAPZPQALOF&marketplace=FLIPKART"
driver.get(url)

time.sleep(2)

urls=[]
complete_review=[]
stars=[]
time.sleep(2)

for i in range(40):
    url=driver.find_element_by_xpath("//a[@class='_1LKTO3']").get_attribute('href')
    driver.get(url)
    
    #for scrapping the number of stars
    
    try:
        for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
            stars.append(j.text)
    except NoSuchElementException:
        stars.append('-')
        
    #for scrapping the complete review
    
    try:
        for k in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
            complete_review.append(k.text)
    except NoSuchElementException:
        complete_review.append('-')    
        
#Combining all the lists into a single dataframe
df_10=pd.DataFrame({'Number of Stars': stars,'Full Review': complete_review})
df_10

    Number of Stars                                        Full Review
0                 1     very poor quality.phone is dead with in 1 day.
1                 5                                     Very nice phon
2                 5   It's feel old Nokia good product value for money
3                 5                                    its pretty good
4                 4  all part are excellent but sounds quality is v...
..              ...                                                ...
395               5                       very nice product 👌👌👌👌👌.....
396               4                           Good mobile good service
397               3                                       Good product
398               5                                       Good product
399               1                                        bad quality

[400 rows x 2 columns]

In [67]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.flipkart.com/forme-n1/product-reviews/itmeff8s2hdrfhyg?pid=MOBEFF8SATDVGZJS&lid=LSTMOBEFF8SATDVGZJSYTXITK&marketplace=FLIPKART"
driver.get(url)

time.sleep(2)

urls=[]
complete_review=[]
stars=[]
time.sleep(2)

for i in range(70):
    url=driver.find_element_by_xpath("//a[@class='_1LKTO3']").get_attribute('href')
    driver.get(url)
    
    #for scrapping the number of stars
    
    try:
        for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
            stars.append(j.text)
    except NoSuchElementException:
        stars.append('-')
        
    #for scrapping the complete review
    
    try:
        for k in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
            complete_review.append(k.text)
    except NoSuchElementException:
        complete_review.append('-')    
        
#Combining all the lists into a single dataframe
df_11=pd.DataFrame({'Number of Stars': stars,'Full Review': complete_review})
df_11

    Number of Stars                                        Full Review
0                 5  Mobile working is good and missing head phones...
1                 1  I take for my mother\nThis ph like Chinese ph\...
2                 5  Using last 4 month ...no issue..one of the bes...
3                 4  Good mobile at lower cost, good features with ...
4                 4  Nice one good ring tone also a smooth button c...
..              ...                                                ...
695               4  Good looking cell phone with a great price,\nD...
696               4  Everything is good with this phone..except the...
697               5  Nice product. Good phone . Delivery is so fast...
698               4  The product for nice when it delivered and mob...
699               5  Superb phone it works very good n awesome very...

[700 rows x 2 columns]

In [27]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.flipkart.com/lenovo-ideapad-130-core-i3-7th-gen-4-gb-1-tb-hdd-windows-10-home-130-15ikb-laptop/product-reviews/itmfhkqzjsyfjq4b?pid=COMFHKQZPCDN7MPP"
driver.get(url)

time.sleep(2)

urls=[]
complete_review=[]
stars=[]
time.sleep(2)

for i in range(90):
    url=driver.find_element_by_xpath("//a[@class='_1LKTO3']").get_attribute('href')
    driver.get(url)
    
    #for scrapping the number of stars
    
    try:
        for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
            stars.append(j.text)
    except NoSuchElementException:
        stars.append('-')
        
    #for scrapping the complete review
    
    try:
        for k in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
            complete_review.append(k.text)
    except NoSuchElementException:
        complete_review.append('-')    
        
#Combining all the lists into a single dataframe
df_12=pd.DataFrame({'Number of Stars': stars,'Full Review': complete_review})
df_12

    Number of Stars                                        Full Review
0                 5  Working very good and fine with best performan...
1                 5  Well if you are looking for performance don't ...
2                 5  best good working condition and loved also win...
3                 2  I am not happy with the product. It is better ...
4                 5  best product at this price. i got at Rs. 24,50...
..              ...                                                ...
895               5  very nice product working is very good I have ...
896               1  This review is after using the laptop for last...
897               3  One suggestion before u buy this, u have to ei...
898               2  very worst performance its not work fast like ...
899               5  Got this product in 18000 with exchange value ...

[900 rows x 2 columns]

In [68]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.flipkart.com/asus-celeron-dual-core-4-gb-1-tb-hdd-windows-10-home-x543ma-gq1015t-laptop/product-reviews/itmf8811674edbeb?pid=COMFSKF9UQH8RKYF&lid=LSTCOMFSKF9UQH8RKYFK8UKIL&marketplace=FLIPKART"
driver.get(url)

time.sleep(2)

urls=[]
complete_review=[]
stars=[]
time.sleep(2)

for i in range(100):
    url=driver.find_element_by_xpath("//a[@class='_1LKTO3']").get_attribute('href')
    driver.get(url)
    
    #for scrapping the number of stars
    
    try:
        for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
            stars.append(j.text)
    except NoSuchElementException:
        stars.append('-')
        
    #for scrapping the complete review
    
    try:
        for k in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
            complete_review.append(k.text)
    except NoSuchElementException:
        complete_review.append('-')    
        
#Combining all the lists into a single dataframe
df_13=pd.DataFrame({'Number of Stars': stars,'Full Review': complete_review})
df_13

    Number of Stars                                        Full Review
0                 1  Its my review after used after 5 months.\nIts ...
1                 3  Just an okay product.. Its a month now and the...
2                 1  Update: 15.07.2021:\nSTOP PURCHASING THIS MODE...
3                 5  Laptop is good for kids ..school or secondary ...
4                 4  Very Good in Display Quality.\nkeyboard /Mouse...
..              ...                                                ...
995               4  it's quite good ,and one important thing to do...
996               5  a god product for students, i'm writing this r...
997               4  It is worth laptop who like to prefer to atten...
998               3  Writing this review after full 24 hours of put...
999               5  Laptop is definitely value for money!! Also th...

[1000 rows x 2 columns]

In [31]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.flipkart.com/kall-n5-new-plus-2-gb-ram-16-rom-7-inch-wi-fi-4g-tablet-black/product-reviews/itmd27437d81b1f0?pid=TABFMZYYYXZEV6XF&lid=LSTTABFMZYYYXZEV6XFE1E1R4&marketplace=FLIPKART"
driver.get(url)

time.sleep(2)

urls=[]
complete_review=[]
stars=[]
time.sleep(2)

for i in range(10):
    url=driver.find_element_by_xpath("//a[@class='_1LKTO3']").get_attribute('href')
    driver.get(url)
    
    #for scrapping the number of stars
    
    try:
        for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
            stars.append(j.text)
    except NoSuchElementException:
        stars.append('-')
        
    #for scrapping the complete review
    
    try:
        for k in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
            complete_review.append(k.text)
    except NoSuchElementException:
        complete_review.append('-')    
        
#Combining all the lists into a single dataframe
df_14=pd.DataFrame({'Number of Stars': stars,'Full Review': complete_review})
df_14

   Number of Stars                                        Full Review
0                1      Verry verry bad product don't buy this tablet
1                1  Very bad product and very bad system of flipka...
2                1  I order for black, not white. It's charger is ...
3                1                        Very very very very bad😠😠😠😠
4                5                                               good
..             ...                                                ...
95               5                          It is a very good product
96               5                                          Very good
97               1       Very very bad product\nDon't buy this tablet
98               5                                It is nice and good
99               2  Very very bad quality i'll purchase its not ha...

[100 rows x 2 columns]

In [33]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.flipkart.com/kall-n9-2-gb-ram-16-rom-7-inch-wi-fi-3g-tablet-white/product-reviews/itmfh43wmqk9rnf5?pid=TABFYAXXBAHSPMEG"
driver.get(url)

time.sleep(2)

urls=[]
complete_review=[]
stars=[]
time.sleep(2)

for i in range(30):
    url=driver.find_element_by_xpath("//a[@class='_1LKTO3']").get_attribute('href')
    driver.get(url)
    
    #for scrapping the number of stars
    
    try:
        for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
            stars.append(j.text)
    except NoSuchElementException:
        stars.append('-')
        
    #for scrapping the complete review
    
    try:
        for k in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
            complete_review.append(k.text)
    except NoSuchElementException:
        complete_review.append('-')    
        
#Combining all the lists into a single dataframe
df_15=pd.DataFrame({'Number of Stars': stars,'Full Review': complete_review})
df_15

    Number of Stars                                        Full Review
0                 3               Not good display. An avarage product
1                 5                                               Nice
2                 1                    dead after 20 days of purchase.
3                 1  This very bad product only work in week after ...
4                 5                                          Very good
..              ...                                                ...
295               5                          Not. quality,Not warranty
296               4  Good tab in this price range but poor sound qu...
297               1          Worst, it stopped working after one month
298               5                                               Best
299               5                Very nice product for only learning

[300 rows x 2 columns]

In [35]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.flipkart.com/kall-n4-1-gb-ram-16-rom-7-inch-wi-fi-4g-tablet-white/product-reviews/itmeppdcnehnngdt?pid=TABEPPDC2PTAUJYU"
driver.get(url)

time.sleep(2)

urls=[]
complete_review=[]
stars=[]
time.sleep(2)

for i in range(30):
    url=driver.find_element_by_xpath("//a[@class='_1LKTO3']").get_attribute('href')
    driver.get(url)
    
    #for scrapping the number of stars
    
    try:
        for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
            stars.append(j.text)
    except NoSuchElementException:
        stars.append('-')
        
    #for scrapping the complete review
    
    try:
        for k in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
            complete_review.append(k.text)
    except NoSuchElementException:
        complete_review.append('-')    
        
#Combining all the lists into a single dataframe
df_16=pd.DataFrame({'Number of Stars': stars,'Full Review': complete_review})
df_16

    Number of Stars                                        Full Review
0                 3  GOOD PRODUCT BUT I BOOK THE BLACK TAB BUT I RE...
1                 1                                           Very bad
2                 5  Very Good Product\nNo hanging problem\nGta san...
3                 2  Charger is not working .Flipkart rejected to r...
4                 3  Not bad tablet......\nBut headphone and tablet...
..              ...                                                ...
295               5                                               Good
296               5  Super product and value for money I liked it a...
297               5                                              Happy
298               5                          This product is very good
299               3                     i like it because of its shape

[300 rows x 2 columns]

In [55]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.flipkart.com/rock-dz09-black-android-4g-calling-smartwatch/product-reviews/itm10232f967cb83?pid=SMWFF45AAQB7D89P&lid=LSTSMWFF45AAQB7D89PSXLKKC&marketplace=FLIPKART"
driver.get(url)

time.sleep(2)

urls=[]
complete_review=[]
stars=[]
time.sleep(2)

for i in range(130):
    url=driver.find_element_by_xpath("//a[@class='_1LKTO3']").get_attribute('href')
    driver.get(url)
    
    #for scrapping the number of stars
    
    try:
        for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
            stars.append(j.text)
    except NoSuchElementException:
        stars.append('-')
        
    #for scrapping the complete review
    
    try:
        for k in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
            complete_review.append(k.text)
    except NoSuchElementException:
        complete_review.append('-')    
        
#Combining all the lists into a single dataframe
df_17=pd.DataFrame({'Number of Stars': stars,'Full Review': complete_review})
df_17

     Number of Stars                                        Full Review
0                  4                            good...smart looking...
1                  5                                        Nice watch😊
2                  4  It's volume is very low 😭😭 Other wise it is ve...
3                  1                nice watch but what'sapp no working
4                  5                     Wonderfull❤️❤️❤️😁😁😁😀😀😀😍😍😘😘Nice
...              ...                                                ...
1295               5        Nice smart watch very nice and good product
1296               5  nice look good quality & the screen touch is s...
1297               5  Nice product.Call,camera,music,notification al...
1298               1                               battery has not good
1299               4        Its quality is good but the graphics are ok

[1300 rows x 2 columns]

In [46]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.flipkart.com/rock-a1-black-color-4g-calling-smartwatch/product-reviews/itmb3c2f5bdb91e8?pid=SMWFF5UWPP8GTZHS&lid=LSTSMWFF5UWPP8GTZHS9WVKNU&marketplace=FLIPKART"
driver.get(url)

time.sleep(2)

urls=[]
complete_review=[]
stars=[]
time.sleep(2)

for i in range(120):
    url=driver.find_element_by_xpath("//a[@class='_1LKTO3']").get_attribute('href')
    driver.get(url)
    
    #for scrapping the number of stars
    
    try:
        for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
            stars.append(j.text)
    except NoSuchElementException:
        stars.append('-')
        
    #for scrapping the complete review
    
    try:
        for k in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
            complete_review.append(k.text)
    except NoSuchElementException:
        complete_review.append('-')    
        
#Combining all the lists into a single dataframe
df_18=pd.DataFrame({'Number of Stars': stars,'Full Review': complete_review})
df_18

     Number of Stars                                        Full Review
0                  4                                               good
1                  5                                       Nice product
2                  5                                               Good
3                  4  1st time delivered watch was not in good condi...
4                  4  product is good but how long it will work.. go...
...              ...                                                ...
1195               4  This is product is good but bettry is smal goo...
1196               5  It is a good and best in the world and also fo...
1197               5                                           nice 👍👍👍
1198               5                                       nice product
1199               5                                     Better quality

[1200 rows x 2 columns]

In [40]:
driver=webdriver.Chrome("chromedriver.exe") 
time.sleep(3)

url = "https://www.flipkart.com/e-live-dz09-4g-calling-health-notifier-smartwatch/product-reviews/itm10cd5354c10c7?pid=SMWF4ZCZXT24VU9X&lid=LSTSMWF4ZCZXT24VU9XQJNKHY&marketplace=FLIPKART"
driver.get(url)

time.sleep(2)

urls=[]
complete_review=[]
stars=[]
time.sleep(2)

for i in range(80):
    url=driver.find_element_by_xpath("//a[@class='_1LKTO3']").get_attribute('href')
    driver.get(url)
    
    #for scrapping the number of stars
    
    try:
        for j in driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div[1]/div[1]"):
            stars.append(j.text)
    except NoSuchElementException:
        stars.append('-')
        
    #for scrapping the complete review
    
    try:
        for k in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
            complete_review.append(k.text)
    except NoSuchElementException:
        complete_review.append('-')    
        
#Combining all the lists into a single dataframe
df_19=pd.DataFrame({'Number of Stars': stars,'Full Review': complete_review})
df_19

    Number of Stars                                        Full Review
0                 1  no wifi\nno GPS\nonly for calling and photo\nb...
1                 5  After using 1 day my review battery back-up is...
2                 5                                        gud product
3                 5  Awesome👍👍 watch. It has everything. It is a mo...
4                 5                                          very good
..              ...                                                ...
795               5                       very good smart watch mobile
796               5                                   it's really nice
797               3                                  very nice product
798               5                                          it's nice
799               5                                         nice super

[800 rows x 2 columns]

In [90]:
df_flip3= pd.concat([df_7,df_8,df_9,df_10,df_11,df_12,df_13,df_14,df_15,df_16,df_17,df_18,df_19])

In [130]:
df_flip3.shape

(9400, 2)

In [131]:
df_flip3.head()

  Number of Stars                                        Full Review
0               1                           Battery problam no bakap
1               5  very very best product and combo pack .super s...
2               5  superrrrrrr mobiles awesome i kall you now its...
3               1  key quality not good type 9 or input tuch # so...
4               1       Not nice in battery switch off any time to s

In [134]:
df_flip3.shape

(9400, 2)

In [147]:
df_flip3.to_csv("flip3_data.csv")

In [148]:
df_flip3.to_excel("flip3_data.xlsx")

In [135]:
df_flip1=pd.read_csv("flip1_review.csv")

In [136]:
df_flip1.head()

   Unnamed: 0  Number of Stars                              Full Review
0           0                1                                     good
1           1                5        good product in this price range.
2           2                5  very nice mobile very very budget phone
3           3                5                                     good
4           4                4                low prices but good phone

In [158]:
df_x=df_flip1.iloc[:,1:]

In [159]:
df_x.head()

   Number of Stars                              Full Review
0                1                                     good
1                5        good product in this price range.
2                5  very nice mobile very very budget phone
3                5                                     good
4                4                low prices but good phone

In [175]:
df_x.to_csv('flip1_data.csv')

In [176]:
df_x.to_excel('flip1_data.xlsx')

In [160]:
df_x.shape

(5170, 2)

In [164]:
df_final=pd.concat([df_flip3,df_flip2,df_x])

In [165]:
df_final.to_csv('df_final_data.csv')

In [166]:
df_final.to_excel('df_final_data.xlsx')

In [167]:
df_final.shape

(20370, 2)

In [169]:
df_final.head()

  Number of Stars                                        Full Review
0               1                           Battery problam no bakap
1               5  very very best product and combo pack .super s...
2               5  superrrrrrr mobiles awesome i kall you now its...
3               1  key quality not good type 9 or input tuch # so...
4               1       Not nice in battery switch off any time to s